body{
    color:black;
    background:rgb(0, 255, 255);
    font-family: "Bangers", system-ui;
}

header{
    border-bottom:solid 2px rgb(30, 140, 171);
    padding: 20px;
    font-size: 32px;
}

section{
 background: rgb(0, 255, 255);
 padding: 50px;
 display: flex;
 justify-content: center;
}
h1 {
    font-size: 40px;
    text-align: center;
}
